.container {
  width: 100%;
  box-sizing: border-box;
}

/*div {
  border: 1px solid red;
}*/

nav {
  background-color: gold;
  border-bottom: 8px solid black;
}

.photo {
  padding-top: 100px;
  height: 690px;
}

.job, .greeting {
  font-family: "Lucida Console";
  font-weight: bold;
  font-size: x-large;
}

.name, .skills, .portfolio, .about, .intro {
  font-family: "Lucida Console";
  font-size: large;
  color: black;
}

.skills, .portfolio, .about {
  border-top: 1px solid white;
}

.logo {
  border: 10px solid black;
  width: 300px;
  height: 300px;
  background-color: gold;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.inner_circle {
  margin-top: 15px;
  margin-left: 15px;
  border: 8px solid white;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

