doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Logan Dougher || Web Developer
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
  body
    nav.nav.navbar-fixed-top
      .container.text-center
        .navbar-header
          a.navbar-brand(href='index.html') Logan Miller Dougher
    // container
    .container.vertical-center.text-center
      .row.photo
        h1.name Logan Miller Dougher
        img.img-circle.img-responsive.center-block(src='https://en.gravatar.com/userimage/84454806/913ed59e3a8ccaea2c0184ec38e51b96.jpg?size=350')
        hr
        p.job Web Developer
        hr
      .row.skills
        hr
        h2 SKILLS
        hr
        .row.topics
          .col-md-4.col-sm-6
           h4 TECHNOLOGIES
           h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .col-md-4.col-sm-6
           h4 STACK
           h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .col-md-4.col-sm-6
           h4 WORK
           h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .row.portfolio
        hr
        h2 PROJECTS
        hr
        .col-md-3.col-sm-6.github
          a(href='https://github.com/ldougher06')
            img.img-responsive.img-circle.github(src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png')
        .col-md-3.col-sm-6.resume
          a(href='#')
            img.img-responsive.img-circle.resume(src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png')
        .col-md-3.col-sm-6.capstone1
          a(href='#')
            img.img-responsive.img-circle.capstone1(src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png')
        .col-md-3.col-sm-6.capstone2
          a(href='#')
            img.img-responsive.img-circle.capstone2(src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png')
      .row.about
        hr
        h2 ABOUT
        hr
        h3
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
