doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Logan Dougher || Web Developer
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
  body
    nav.nav.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand.intro(href='index.html') Logan Miller Dougher
        .nav.navbar-right
          ul.nav.navbar-nav.navbar-right
            li
              a(href='http://www.github.com/ldougher06') GitHub
            li
              a(href='http://www.linkedin.com/in/logandougher') LinkedIn
    // container
    .container.vertical-center.text-center
      .row.photo
        h1.greeting Hello,
        .logo.center-block
          .middle_circle.center-block
            .inner_circle.center-block
              img.img-circle.img-responsive(src='assets/nss_headshot.png')
        .nameJob
          h1.name I'm Logan Miller Dougher
          p.job Web Developer
      .row.portfolio
        hr
        h2 PROJECTS
        hr
        .col-md-6.col-sm-6.capstone1
          a(href='http://ldougher06.github.io/capstone-minotaur')
            h3 Minotaur vs Robots
        .col-md-6.col-sm-6.capstone2
          a(href='https://github.com/ldougher06/orator')
            h3 Overton Orator
      .row.skills
        hr
        h2 SKILLS
        hr
        .row.topics.center-block
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/html5.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/angular.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/bootstrap.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/chai.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/css-icon.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/express_logo.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/GitHub.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/grunt_logo.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/jquery_logo.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/mongodb_logo.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/postgresql_logo.png')
          .col-lg-3.col-sm-6
            img.img-responsive(src='assets/nodejs.png')
    nav.nav.navbar-static-bottom
      .container.text-center
        .row.footer
          .contact
            h5.cell 917-531-0775
            h5.email Logan.Dougher@gmail.com


    script(src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js')
    script(href='/js/main.js')
