.container {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/*div {
  border: 1px solid red;
}*/

nav {
  background-color: gold;
  border-bottom: 2px solid black;
  width: 100%;
}

nav li:last-child {
  margin-right: 25px;
}

.footer {
  border-top: 1px solid black;
}

.photo {
  padding-top: 100px;
  height: 690px;
  background: url('http://www.excelsusphoto.com/sites/www.excelsusphoto.com/files/nashvilleskyline2%20preview.jpg') no-repeat top center fixed;
  background-size: cover;
}

.nameJob {
  background-color: #ffdf00;
  opacity: .8;
  border: 1.5px solid black;
  margin-top: 45px;
}

.job, .greeting {
  font-family: "Lucida Console";
  font-weight: bold;
  font-size: x-large;
}

.name, .skills, .portfolio, .about, .intro, .footer {
  font-family: "Lucida Console";
  font-size: large;
  color: black;
}

.skills, .portfolio {
  border-top: 1px solid white;
}

.logo {
  border: 10px solid black;
  width: 300px;
  height: 300px;
  background-color: gold;
  border-radius: 50%;
}

.topics {
  margin-left: 15%;
  margin-right: 15%;
 }

.topics img {
  height: 200px;
  width: 200px;
}


.inner_circle {
  margin-top: 15px;
  margin-left: 15px;
  border: 8px solid white;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
